@import '../variables/colors';

.button {
  padding: 12px 24px;
  border-radius: 4px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-weight: 900;
  white-space: nowrap;

  &--primary {
    background-color: $primary-color;
    color: $base-color-light;

    &:hover {
      background-color: darken($primary-color, 5);
    }

    &:disabled {
      background-color: $base-color-dark-1;
      cursor: not-allowed;
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
    }
  }

  &--hasIcon {
    img {
      margin-right: 16px;
      flex-shrink: 0;
    }
  }
}
