@import '../variables/colors';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: $base-color-dark;
}

* {
  box-sizing: border-box;
}

button {
  border-style: none;
  padding: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

input,
textarea {
  background-color: transparent;
  border: none;
}

textarea {
  border: 1px solid $base-color-light-1;
  border-radius: 4px;
  padding: 12px 24px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  &:focus {
    border-color: $primary-color;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
