// Main colors
$primary-color: #0042da;
$secondary-color: #edf5fe;
$tertiary-color: #bdbfc3;

// Accent colors
$accent-color-1: #ff3333;

//Base colors
$base-color-light: #ffffff;
$base-color-light-1: #dddddd;

$base-color-dark: #020202;
$base-color-dark-1: #a5a4a4;
